<router-outlet />
<h3>{{ title }}</h3>

<form (ngSubmit)="addTodo()" class="todo-form">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="newTodo.name" name="name" required>
        <label for="isComplete" class="checkbox-label">Is Complete:</label>
        <input type="checkbox" id="isComplete" [(ngModel)]="newTodo.isComplete" name="isComplete">
    </div>
    <button type="submit" class="btn">Add Todo</button>
</form>

<table class="todo-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Is Complete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of todoList">
            <td>{{ item.name }}</td>
            <td>{{ item.isComplete ? 'Yes' : 'No' }}</td>
        </tr>
    </tbody>
</table>